<configuration debug="true" scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout>
			<pattern>%date [%thread] %-5level %logger:%method:%line - %msg%n</pattern>
    <!--  
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
      -->
    </layout>
  </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/anc2go/anc2go.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %-5level %logger:%method:%line - %msg%n</pattern>
        </encoder>
    </appender>
	<appender name="TIM" class="ch.qos.logback.core.FileAppender">
      <file>/Users/Tim/Documents/ANC2Go/anc2go.log</file>
      <append>false</append>
      <encoder>
          <pattern>%date %-5level %logger:%method:%line - %msg%n</pattern>
      </encoder>
  </appender>
<logger name="org.anc" level="debug"/>
<logger name="org.codehaus.groovy" level="warn"/>
<root level="info">
    <appender-ref ref="FILE"/>
  </root>
</configuration>